#homebackground
	{
	 background-image:url('file:///home/nyros/Documents/sriram%20workspace/27-04-2011/group/complete-trust-night-sky.gif');
         width:auto;
         height:auto;
      	}

#homeheader
	{
        background-color:transparent;
        width:auto;
        height:100px;
        }       
	
