<body bgcolor="black">
<h1><font color="yellow">Hello user!</font></h1>
<center>
<h1><font color="red"><u>REGISTRATION</u></font></h1>
<hr/>
<font color="black"><b><h3><%= link_to "register here", posts_path %></b></h3></font>
</center>
 

